<ng-container>
  <div class="d-flex flex-column">
    <mat-form-field>
      <input matInput placeholder="Filter Status/Priority" #input />
    </mat-form-field>

    <div class="mat-elevation-z8">
      <div class="spinner-container" *ngIf="loading">
        <mat-spinner></mat-spinner>
      </div>

      <table
        mat-table
        [dataSource]="dataTask"
        matSort
        (matSortChange)="sortData($event)"
        class="task-table mat-elevation-z8"
      >
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef>Title</th>
          <td mat-cell *matCellDef="let task">{{ task.title }}</td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef>Status</th>
          <td mat-cell *matCellDef="let task">{{ task.status }}</td>
        </ng-container>

        <ng-container matColumnDef="priority">
          <th mat-header-cell mat-sort-header *matHeaderCellDef>Priority</th>
          <td mat-cell *matCellDef="let task">{{ task.priority }}</td>
        </ng-container>

        <ng-container matColumnDef="date">
          <th mat-header-cell mat-sort-header *matHeaderCellDef>Date</th>
          <td mat-cell *matCellDef="let task">
            {{ task.date | date : "short" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="admin">
          <th mat-header-cell mat-sort-header *matHeaderCellDef>Admin Panel</th>
          <td mat-cell *matCellDef="let task">
            
            <div class="d-flex justify-content-between" >
              <button mat-mini-fab color="primary" aria-label="Edit task" (click)="editTask(task)">
                <mat-icon> edit </mat-icon>
              </button>
      
              <button mat-mini-fab color="warn" aria-label="Delete task" (click)="deleteTask(task)">
                <mat-icon> delete </mat-icon>
              </button>
            </div>



          </td>
        </ng-container>

        <ng-container *ngIf="!loading">
          <tr class="mat-row" *matNoDataRow>
            <td
              class="mat-cell text-center py-3"
              [attr.colspan]="displayedColumns.length"
            >
              No data found.
            </td>
          </tr>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>


    </div>

    <div class="d-flex gap-3 mt-3 justify-content-between">
      <div class="d-flex gap-2">
        <button mat-raised-button color="warn" [disabled]="dataTask.length == 0" (click)="handleDeleteTasks()">
          <mat-icon> delete </mat-icon> Delete all
        </button>

        <button mat-raised-button color="green" [disabled]="dataTask.length == 0" (click)="handleDoneTasks()">
          <mat-icon> done </mat-icon> Done all
        </button>
      </div>

      <button mat-raised-button color="primary"  (click)="openDialog()">
        <mat-icon> add </mat-icon> Add task
      </button>
    </div>
  </div>
</ng-container>
