/* You can add global styles to this file, and also import other style files */

html,
body {
  min-height: 100vh;
}
body {
  margin: 0;
  display: flex;
}

.mat-green:not(:disabled) {
  color: white !important;
  background-color: forestgreen !important;
}
